.categories {
  &__card {
    overflow: hidden;
    border-radius: var(--box-rd);
    box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: 0.1);
    border: 2px solid #ffffff;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
    background-color: var(--card-bg);
    &:hover {
      border: 1px solid var(--secondary-color);
      .categories__img img {
        transform: scale(1.1);
      }
    }
  }
  &__img {
    overflow: hidden;
    height: 90%;
    img {
      height: 100%;
      transition: all 0.2s;
    }
  }
}
