.hero {
  width: 100%;
  text-align: right;
  background-image: linear-gradient(
      to right,
      rgba(#5d6f83, 0.5),
      rgba(#333d48, 0.5)
    ),
    url(/public/img/hero-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 80vh;
  @include respond(tab-land) {
    background-size: cover;
  }

  &__container {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 54%;
    gap: 2rem;
    @include respond(tab-port) {
      width: 70%;
    }
    @include respond(big-phone) {
      width: 100%;
    }
  }
}
