*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-display);
  line-height: 1.1;
  text-wrap: balance;
  text-align: center;
}
p,
li {
  text-wrap: pretty;
  /* max width you can adjust this depend on the project*/
  /*max-width: 70ch;*/
  text-decoration: none;
  list-style: none;
}
[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  display: block;
}

body {
  font-family: var(--ff-text);
  background-color: #fffff0;
  direction: rtl;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  @include respond(tab-land) {
    font-size: 87.5%;
  }
  @include respond(phone) {
    font-size: 75%;
  }
  @include respond(small-phone) {
    font-size: 62.5%;
  }
}
